<div ng-controller="mainctrl as main">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-lg-offset-3">
          <p>
           
            <a href="/registerclinic" class="btn btn-sq-lg btn-success " >
              <i class="fa fa-stethoscope fa-5x"></i><br/>
              Connect your<br><b> Clinics</b> <br>
            </a>
            <a href="/registerpharmacy" class="btn btn-sq-lg btn-info">
              <i class="fa fa-heartbeat	 fa-5x"></i><br/>
              Connect your <br><b>Pharmacies</b> <br>
            </a>
            <a href="/registerlab" class="btn btn-sq-lg btn-warning">
              <i class="fa fa-user-md fa-5x"></i><br/>
              Connect your<br> <b>Diagnostic lab</b> <br>
            </a>
            
          </p>
        </div>
	</div>
  
</div>