<div class="container">
      <div class="row">
        <div class="col-lg-12 col-lg-offset-3">
          <p>
           
            <a href="/addinventory" class="btn btn-sq-lg btn-danger " >
              <i class="fa fa-plus fa-5x"></i><br/>
              Add<br><b> Inventory</b> <br>
            </a>
            <a href="/listinventory" class="btn btn-sq-lg btn-info">
              <i class="fa fa-list	 fa-5x"></i><br/>
              Connect your <br><b>List Inventory</b> <br>
            </a>
            <a href="/payments" class="btn btn-sq-lg btn-warning">
              <i class="fa fa-inr fa-5x"></i><br/>
              Connect your<br> <b>Payment</b> <br>
            </a>
            
          </p>
        </div>
	</div>